<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Site Styles -->
    <link href="css/student/styleHome.css" rel="stylesheet">

    <title>Quiz Kids</title>

    <!-- Fonts, Kits and Bootstrap -->
    <%- include("partials/headers.ejs") %>
  </head>

  <!-- html body -->
  <body>
    <!-- navbar -->
     <!-- Botones para login y signup -->
      <nav>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </nav>

    <!-- test it -->
    <div class="container-fluid" id="testIt">
      <div class="row d-flex flex-wrap align-items-center">
        <div class="col-6 text-center">
          <img src="imgs/book.png" alt="book" class="img-fluid">     
        </div>
        <div class="col-5">
          <h1 class="mt-5">Test your knowledge</h1>
          <p class="text-start">Welcome to our interactive quiz platform, designed to make learning fun and engaging!
              Our game allows teachers to create custom questions on a variety of subjects such as math, science, art,
              history, and more. Students can join the game, answer questions, and earn points based on their
              performance. These points contribute to their overall ranking, motivating them to improve their knowledge
              and compete with their peers. It's a perfect way to test your understanding and reinforce what you've 
              learned in a playful and competitive environment.
              Are you ready to challenge yourself and climb to the top of the leaderboard?</p>
        </div>
      </div>
    </div>

    <!-- more about us-->
    <div class="container-fluid mt-5 aboutUs">
      <div class="row">
        <div class="col-10 offset-1">
          <h1 class="mt-5 whiteBg">Want to learn more about us?</h1>
        </div>
      </div>
      <div class="row d-flex flex-wrap align-items-start">
        <div class="col-5 offset-1">
          <p class="whiteBg">Curious about who we are and how we create our engaging learning experiences? 
            Our mission is to make education enjoyable and effective through interactive quizzes and comprehensive
            study tools. Discover the story behind our platform, meet the team dedicated to enhancing your 
            learning journey, and learn about the innovative technologies we use to develop our content. 
            We believe in the power of gamified learning to inspire and educate students of all ages.
            Ready to dive deeper into our world?</p>
        </div>
        <div class="col-6">
          <img src="imgs/folder.png" alt="folder" class="img-fluid">
        </div>
      </div>
    </div>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>