<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizKids</title>
</head>
<body>
    <h1>Este es el inicio</h1>
    <ul>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/student">Student</a>
        <a href="/professor">Professor</a>
        <a href="/profile">Profile</a>
        <a href="/ranking">Ranking</a>
        <a href="/settings-alumno">Settings Alumno</a>
        <a href="/test-it">Test It</a>
    </ul>
</body>
</html>