<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Fonts, Kits and Bootstrap -->
    <%- include("partials/headers.ejs") %>
    <!-- Site Styles -->
    <link href="css/styleLogin.css" rel="stylesheet">

    <title>Login</title>
  </head>

  <!-- html body -->
  <body>
    <!-- login/signup card-->
    <!-- card container -->
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center mt-3 mb-5">
                Log in
              </h1>
              <form action="/login" method="post">
              <div class="mb-3">
                <label for="correo" class="form-label">Email adress</label>
                <input type="email" class="form-control" name="correo" id="inputEmail" placeholder="Type your email" required>
              </div>
              <div class="mb-3">
                <label for="contrasena" class="form-label">Password</label>
                <input type="password" class="form-control" name="contrasena" id="inputPassword" placeholder="Type your password" required>
                <div class="mt-2">
                  <input type="checkbox" class="form-check-input" id="showPasswordCheck" onclick="showPassword()">
                  <label for="showPasswordCheck" class="form-check-label">Show password</label>
                </div>
              </div>
              <div class="d-grid mx-auto mt-5">
                <button type="submit" class="btn" id="loginButton">Login</button>
              </div>
              </form>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p class="text-center mt-5">Dont have an account?</p>
                  <div class="d-grid mx-auto">
                    <a href="/signup" class="btn">SIGN UP</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

    <!-- bootstrap js -->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>