<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Kids</title>

    <!-- Fonts, Kits and Bootstrap -->
    <%- include("partials/headers.ejs") %>

    <!-- Site styles -->
    <link href="css/styleLearnItScreen.css" rel="stylesheet">

  </head>

  <!-- html body -->
  <body>
    <!-- navbar -->
    <%- include("partials/navbar.ejs") %>

    <!-- carousel -->
    <div id="learnItCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-wrapper container d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="imgs/book.png" class="card-img-top" alt="book">
              <div class="card-body">
                <h3 class="card-title text-center">Learn math</h3>
                <p class="text-center">Get ready for your math quiz with interactive lessons and 
                  practice problems. Strengthen your understanding, boost your confidence, and 
                  achieve your academic goals with our comprehensive math resources!</p>
                <div class="card-footer d-grid mx-auto">
                  <a href="#" class="btn">Lets go!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="imgs/microscope.png" class="card-img-top" alt="microscope">
              <div class="card-body">
                <h3 class="card-title text-center">Learn science</h3>
                <p class="text-center">Prepare for your science quiz with engaging lessons. Dive into 
                  topics that spark your curiosity and build a strong foundation for future success!</p>
                <div class="card-footer d-grid mx-auto">
                  <a href="#" class="btn">Lets go!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="imgs/world-globe.png" class="card-img-top" alt="world-globe">
              <div class="card-body">
                <h3 class="card-title text-center">Learn geography</h3>
                <p class="text-center">Gear up for your geography quiz with immersive lessons and 
                  interactive maps. Enhance your knowledge of global landscapes, develop spatial thinking skills, 
                  and prepare for success in your studies with our engaging geography resources!</p>
                <div class="card-footer d-grid mx-auto">
                  <a href="#" class="btn">Lets go!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="imgs/manuscript.png" class="card-img-top" alt="manuscript">
              <div class="card-body">
                <h3 class="card-title text-center">Learn history</h3>
                <p class="text-center">
                  Prepare for your history quiz with captivating lessons and in-depth analysis. Expand your 
                  knowledge, develop critical thinking skills, and achieve academic excellence with our 
                  comprehensive history resources!</p>
                <div class="card-footer d-grid mx-auto">
                  <a href="#" class="btn">Lets go!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img src="imgs/palette.png" class="card-img-top" alt="palette">
              <div class="card-body">
                <h3 class="card-title text-center">Learn art</h3>
                <p class="text-center">Get ready for your arts quiz with inspiring lessons and creative 
                  projects. Explore different art forms, understand artistic techniques, and enhance your 
                  appreciation for visual and performing arts. Prepare for success and unleash your creativity with our engaging 
                  arts resources!</p>
                <div class="card-footer d-grid mx-auto">
                  <a href="#" class="btn">Lets go!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#learnItCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#learnItCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>