.navbar {
    background: linear-gradient(270deg, #7a075e, #0a153d, #030714, #0a153d, #7a075e);
    background-size: 1000% 1000%;

    -webkit-animation: gradientAnimation 20s ease infinite;
    -moz-animation: gradientAnimation 20s ease infinite;
    animation: gradientAnimation 20s ease infinite;
}

div.aboutUs{
    border-top: 1px solid rgba(35, 43, 43, 0.4);
}

a.btn {
    border-radius: 0;
    border-bottom: 1px solid var(--black);
}

a.btn:hover {
    border-radius: 0;
    border-bottom: 1px solid var(--black);
}

h1#testItButton {
    color: var(--white);
    transition: all 0.5s ease-in-out;
}

h1#testItButton:hover {
    transform: scale(1.05);
}

h1#learnItButton {
    background-image: linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(176,14,204,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    background-position: top left;
    transition: all 0.5s ease-in-out;
}

h1#learnItButton:hover {
    transform: scale(1.05);
}

h1#aboutUs {
    transition: all 0.5s ease-in-out;
}

h1#aboutUs:hover {
    transform: scale(1.05);
}

a#testItButton {
    border-bottom: 1px solid var(--white);
}

a#learnItButton {
    border-image: linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(176,14,204,1) 35%, rgba(0,212,255,1) 100%) 30;
    border-top: none;
    border-right: none;
    border-left: none;
}

div#testIt {
    background: linear-gradient(270deg, #7a075e, #0a153d, #030714, #0a153d, #7a075e);
    background-size: 1000% 1000%;

    -webkit-animation: gradientAnimation 20s ease infinite;
    -moz-animation: gradientAnimation 20s ease infinite;
    animation: gradientAnimation 20s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}