<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Styles -->
    <link href="../css/teacher/styleQuiz.css" rel="stylesheet" />

    <title>Quiz Kids</title>

    <!-- Fonts, Kits and Bootstrap -->
    <%- include("../partials/headers.ejs") %>
  </head>
  <body>
    <%- include("../partials/professor/navbar.ejs") %>
    <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-auto">
            <div class="card">
              <div class="card-body text-center">
                <div id="quiz">
                    <form id="quiz-form">
                      <label for="nombreQuiz" class="form-label">Nombre del quiz</label>
                      <input type="text" class="form-input text-center" name="nombreQuiz" id="nombreQuiz" />
                      <label for="categoria" class="form-label">Categoría</label>
                      <select name="categoria" id="categoria" class="text-center">
                        <option disabled selected value="">Selecciona una opcion</option>
                        <option value="matematicas">Matemáticas</option>
                        <option value="ciencias">Ciencias</option>
                        <option value="historia">Historia</option>
                        <option value="geografia">Geografía</option>
                        <option value="espanol">Español</option>
                      </select>
                      <label for="pregunta" class="form-label">Pregunta</label>
                      <input type="text" class="form-input text-center" name="pregunta" id="pregunta" />
                      <label for="respuesta1" class="form-label">Respuesta 1</label>
                      <input type="text" class="form-input text-center" name="respuesta1" id="respuesta1" />
                      <label for="respuesta2" class="form-label">Respuesta 2</label>
                      <input type="text" class="form-input text-center" name="respuesta2" id="respuesta2" />
                      <label for="respuesta3" class="form-label">Respuesta 3</label>
                      <input type="text" class="form-input text-center" name="respuesta3" id="respuesta3" />
              
                      <label for="respuestaCorrecta" class="form-label">¿Cuál es la respueta correcta?</label>
                      <select name="respuestaCorrecta" id="respuestaCorrecta" class="text-center">
                        <option value="respuesta1">Respuesta 1</option>
                        <option value="respuesta2">Respuesta 2</option>
                        <option value="respuesta3">Respuesta 3</option>
                      </select>
              
                      <button type="button" id="add-question" class="my-5">Añadir pregunta</button>
              
                      <div id="estados">
                        <div id="pregunta1" class="not-checked">1</div>
                        <div id="pregunta2" class="not-checked">2</div>
                        <div id="pregunta3" class="not-checked">3</div>
                        <div id="pregunta4" class="not-checked">4</div>
                        <div id="pregunta5" class="not-checked">5</div>
                        <div id="pregunta6" class="not-checked">6</div>
                        <div id="pregunta7" class="not-checked">7</div>
                        <div id="pregunta8" class="not-checked">8</div>
                        <div id="pregunta9" class="not-checked">9</div>
                        <div id="pregunta10" class="not-checked">10</div>
                      </div>
              
                      <button type="submit" id="create-quiz" class="mt-3" disabled>Crear Quiz</button>
                    </form>
                  </div>
              
                  <div id="modal">
                    <div id="modal-content">
                      <h2>Editar Pregunta</h2>
                      <label for="edit-pregunta" class="form-label">Pregunta</label>
                      <input type="text" class="form-input" id="edit-pregunta" />
                      <label for="edit-respuesta1" class="form-label">Respuesta 1</label>
                      <input type="text" class="form-input" id="edit-respuesta1" />
                      <label for="edit-respuesta2" class="form-label">Respuesta 2</label>
                      <input type="text" class="form-input" id="edit-respuesta2" />
                      <label for="edit-respuesta3" class="form-label">Respuesta 3</label>
                      <input type="text" class="form-input" id="edit-respuesta3" />
                      <label for="edit-respuestaCorrecta" class="form-label">¿Cuál es la respuesta correcta?</label>
                      <select id="edit-respuestaCorrecta">
                        <option value="respuesta1">Respuesta 1</option>
                        <option value="respuesta2">Respuesta 2</option>
                        <option value="respuesta3">Respuesta 3</option>
                      </select>
                      <button type="button" id="save-edit">Guardar</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <script src="../../js/logicaCrearQuiz.js"></script>
  </body>
</html>
