<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Styles -->
    <link href="../css/teacher/styleSettings.css" rel="stylesheet">

    <title>Quiz Kids</title>

    <!-- Fonts, Kits and Bootstrap -->
    <%- include("../partials/headers.ejs") %>
  </head>

  <!-- html body -->
  <body>
    <!-- navbar -->
    <%- include("../partials/professor/navbar.ejs") %>

    <!-- Settings -->
    <div class="container-fluid">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
          <form>
              <div class="my-3 text-center">
                  <a href="../student/home" class="fw-bold" id="sign-out"><p class="fw-bold py-3">Switch to student</p></a>
              </div>      
              <div class="my-3 text-center">
                  <a href="../login" class="fw-bold" id="sign-out"><p class="fw-bold py-3">Sign out</p></a>
              </div>      
              <div class="my-3 text-center">
                  <a href="#" class="fw-bold" id="sign-out"><p class="fw-bold py-3">Delete profile</p></a>
              </div>                 
          </form>
      </div>
    </div>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>