body {
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--white) !important;
}

p {
    color: var(--white) !important;
}

.card-footer {
    border-color: var(--white) !important;
}

.btn {
    font-weight: bold !important;
    border-radius: 20px !important;
    background-color: var(--white) !important; 
    transition: all 0.5s ease-in-out !important;
}

.btn:hover {
    transform: scale(1.05);
    background-color: var(--white);
}

.navbar {
    background: rgb(122,7,94);
    background: -moz-linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(0,130,156,1) 50%, rgba(176,14,204,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(0,130,156,1) 50%, rgba(176,14,204,1) 100%);
    background: linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(0,130,156,1) 50%, rgba(176,14,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a075e",endColorstr="#b00ecc",GradientType=1);
}

.card {
    background-color: rgba(245, 245, 245, 0.25) !important;
    border: none;
}

div#learnItCarousel {
    background: rgb(122,7,94);
    background: -moz-linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(0,130,156,1) 50%, rgba(176,14,204,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(0,130,156,1) 50%, rgba(176,14,204,1) 100%);
    background: linear-gradient(90deg, rgba(122,7,94,1) 0%, rgba(0,130,156,1) 50%, rgba(176,14,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a075e",endColorstr="#b00ecc",GradientType=1);
}